@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-bg: #0A0A0A;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--brand-bg);
}

.glass {
  background: rgba(17, 24, 39, 0.5);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
